.campaigns .campaigns-item {
  padding: 70px 35px;
  background-size: cover;
  background-position: center;
  color: white;
  flex: 1;
}

.campaigns .campaigns-item .campaigns-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}

.campaigns .campaigns-item .campaigns-descreptions {
  margin: 40px 0;
  font-size: 14px;
}

.campaigns .campaigns-wrapper:nth-child(1) .campaigns-item:nth-child(1) {
  background-image: url(../../img/campaigns/banner1.png);
  flex: 4;
}

.campaigns .campaigns-wrapper:nth-child(1) .campaigns-item:nth-child(2) {
  background-image: url(../../img/campaigns/banner2.png);
  flex: 5;
}

.campaigns .campaigns-wrapper:nth-child(2) .campaigns-item:nth-child(1) {
  background-image: url(../../img/campaigns/banner3.png);
  flex: 5;
}

.campaigns .campaigns-wrapper:nth-child(2) .campaigns-item:nth-child(2) {
  background-image: url(../../img/campaigns/banner4.png);
  flex: 3;
}

@media (max-width: 768px) {
  .campaigns .campaigns-item {
    width: 100%;
    flex: unset;
  }
}
