.campaigns-single {
  background-image: url(../../img/single-campaign.png);
  padding: 200px 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-attachment: fixed;
}

.campaigns-single .campaigns-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.campaigns-single .campaigns-wrapper h2 {
  font-size: 25px;
}

.campaigns-single .campaigns-wrapper strong {
  font-size: 55px;
  font-weight: 600;
  margin: 20px 0;
}

.campaigns-single .campaigns-wrapper span {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: white;
}

.campaigns-single .campaigns-wrapper a {
  margin-top: 60px;
}
